.list {
    display: flex;
    padding-left: 40px;
}

.agents {
        margin: 0 0 1em 0;
        list-style-type: none;
        width: 15em;
      }

.agents:hover {
    background-color: rgb(197, 147, 31);
    color: rgb(255, 13, 13);
    left: .1em;
    }

.agent {
    display: flex;
}